################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.utmp
/.vs/Afk Defense/v17
/Assets/Settings
/Assets/TextMesh Pro
/Library
/Logs
/obj/Debug
/Packages
/ProjectSettings
/UserSettings
/Temp
